.block {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 2px;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 5px;
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid #aaa;
	border-radius: 5px;
}

.a4Sheet {
	width: 794px;
	/* min-height: 1123px; */
	border: 1px solid black;
	background-color: white;
	margin: 2% auto; /* Centramos la hoja */
	color: black;
}


.documentContent {
	width: 100%;
	height: 100%;
	padding: 20px 20px 40px;
	/* font-weight: bold; */
	box-sizing: border-box;
}


.mopHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.headerBlock {
	width: 280px;
}

.infoHeader {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.blockContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid #aaa;
	border-radius: 5px;
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 5px 0;
}

.deliveryContainer {
	padding: 0 5px 0;
	width: 100%;
}

.sectionTitle {
	margin-bottom: 10px;
}

.leftBlock {
	flex: 1;
}

.rightBlock {
	flex: 2;
	/* gap: 8px; */
}

.blockPrintTask {
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid #aaa;
	border-radius: 5px;
	z-index: 0;
}

.contain {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 0 5px;
	padding-top: 20px;
	flex-wrap: wrap;
}

.blockTitle {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	font-size: 14px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 12px;
	width: 100%;
}

.inputNumberContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	width: 100%;
	gap: 10px;
}

.textArea,
.inputNumber {
	width: 100%;
	resize: vertical;
	min-height: 25px;
	height: 25px;
	overflow: hidden;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.textArea {
	padding: 0.2rem;
}

/* .datesContainer {
	display: flex;
	gap: 20px;
} */

.familyInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 37px;
	font-size: 16px;
}

.dateInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 37px;
	font-size: 16px;
	width: 150px;
}

.inputNumber {
	width: 50px;
	height: 14px;
	color: #6d6d6d;
}

.printTitle {
	font-size: 20px;
}

.closePrintTask {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.label,
.printTaskLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}

.printTaskLabel {
	text-align: center;
}

.selectContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 60px;
	width: 90px;
}

.smallNumberSelectContainer {
	width: 50px;
}

.selectClientContainer {
	width: 450px;
	height: 55px;
}

.selectMaterialContainer {
	width: 400px;
}

.clientInput {
	width: 450px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	font-size: 12px;
	color: #6d6d6d;
}

.table {
	/* z-index: 5; */
	font-size: 14px;
	font-weight: 400;
}

.td,
.th,
.smallth {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 100%;
	vertical-align: center;
}

.input,
.th {
	width: 300px;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}

.smallInput,
.smallth {
	width: 80px;
	height: 100%;
}

.smallInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}

.nameTd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deleteRow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 138, 138);
	border: 1px, solid, black;
	border-radius: 5px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.printFirstRow,
.printRow,
.printLastRow {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
}

/* .printFirstRow {
	margin-top: 20px;
} */

.printLastRow {
	display: flex;
	justify-content: flex-end;
}

.rightRow {
	/* 	display: flex;
	flex-wrap: wrap; */
	/* 	justify-content: space-between; */
	width: 300px;
	column-gap: 20px;
}

.rightRowContainer {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	/* margin-left: auto; */
}

.lastItem {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-left: auto;
	margin-top: auto;
}

.printTaskInput {
	width: 100%;
	height: 25px;
	font-size: 11px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}

.tintasDiv {
	margin-top: 10px;
	width: 400px;
}

.tintasInput {
	width: 480px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}
