.block {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 5px;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.05);
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-top: 10px;
	padding: 15px;
}

.blockPrintTask {
	z-index: 0;
}

.contain {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 5px;
	flex-wrap: wrap;
}

.blockTitle {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	font-size: 14px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 12px;
	width: 100%;
}

.inputNumberContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	width: 100%;
	gap: 10px;
}

.textArea,
.inputNumber {
	width: 100%;
	resize: vertical;
	min-height: 33px;
	max-height: 150px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.datesContainer {
	display: flex;
	gap: 20px;
}

.dateInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}

.inputNumber {
	font-weight: bold;
	width: 50px;
	height: 14px;
}

.closePrintTask {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 30px;
	font-size: 12px;
	margin-bottom: 5px;
}

.selectContainer,
.selectClientContainer,
.selectMaterialContainer {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 90px;
}

.selectClientContainer,
.selectMaterialContainer {
	width: 300px;
}

.table {
	/* z-index: 5; */
	font-size: 14px;
	font-weight: 400;
}

.td,
.th,
.smallth {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 100%;
	vertical-align: center;
}

.input,
.th {
	width: 300px;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}

.smallInput,
.smallth {
	width: 80px;
	height: 100%;
}

.smallInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}

.nameTd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deleteRow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 138, 138);
	border: 1px, solid, black;
	border-radius: 5px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
