.button {
	padding: 9px 25px;
	background-color: #1976d2;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: #edf0f1;
	font-weight: 600;
	font-family: 'Roboto';

	&:hover {
		background-color: rgba(0, 136, 169, 0.8);
	}
}
