.clientsList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 93vh;
	color: #edf0f1;
	padding-top: 20px;
	margin: 0 auto;
}

.clientsListSearch {
	display: flex;
	width: 85%;
}

.paginationContainer {
	margin: 20px 0;
}
