.allOrders {
	width: 100%;
	height: 75vh;
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #101204;
	border-radius: 8px;
	color: #101204;
	box-shadow: 0 1px 5px 0 #101204;
	font-size: 14px;
}

.loader {
	margin: auto;
}

.allOrdersTitle {
	align-self: center;
}

.tables {
	width: 100%;
}

.allOrdersTable {
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 100%;
	overflow-x: auto;
}

.space {
	width: 100%;
	min-width: 1600px;
	margin-bottom: 10px;
}

.allOrdersTable::-webkit-scrollbar {
	width: 12px;
	border-radius: 20px;
}

.allOrdersTable::-webkit-scrollbar-track {
	border-radius: 20px;
}

.allOrdersTable::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 20px;
	border: 3px solid #ddd;
}

.allOrdersTable::-webkit-scrollbar:window-inactive {
	display: none;
}

.editTh {
	background-color: black;
	color: white;
	white-space: nowrap;
}

.editTd,
.editTh {
	position: relative;
	border: 1px solid #101204;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
	width: 60px;
}

.tr {
	position: relative;
	width: 100%;
}

.warningLevel2 {
	background-color: #f6d88d;
	border: 1px solid #101204;
}
.warningLevel3 {
	background-color: #f8e765;
	border: 1px solid #101204;
}
.warningLevel4 {
	background-color: #f7b34e;
	border: 1px solid #101204;
}
.warningLevel5 {
	background-color: #f15656;
	border: 1px solid #101204;
}

@media (max-width: 1000px) {
	.tables {
		width: 1400px;
	}

	.allOrders {
		height: 73vh;
	}

	.allOrdersTable {
		height: 70vh;
	}
}
