.allOrders {
    width: 100%;
    height: 70vh;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #101204;
    border-radius: 8px;
    color: #101204;
    box-shadow: 0 1px 5px 0 #101204;
}

.loader {
  margin: auto;
}


.allOrdersTitle {
    align-self: center;
}

.tables {
  min-width: 1600px;
}

.allOrdersTable {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
/*     flex-shrink: 0; */
    overflow-x: auto;
}

.space {
    width: 100%;
    min-width: 1600px;
    margin-bottom: 10px;
}

.allOrdersTable::-webkit-scrollbar {
    width: 12px;    
    border-radius: 20px;        
  }
  
  .allOrdersTable::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  
  .allOrdersTable::-webkit-scrollbar-thumb {
    background-color: black;    
    border-radius: 20px;      
    border: 3px solid #ddd;  
  }

  .allOrdersTable::-webkit-scrollbar:window-inactive{
    display: none;
  }

@media (max-width: 1000px) {
  .allOrdersTable{
  height: 55vh;}
}