.resourcesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 88vh;
	color: #edf0f1;
	padding-top: 20px;
	overflow-y: auto;
}

.materialsList,
.operationsList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	width: 90%;
	margin-bottom: 20px;
}

.auxiliarRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
}

.inputBox {
	display: flex;
	gap: 15px;
	height: 50%;
}

@media (min-width: 1000px) {
	.resourcesPage {
		flex-direction: row;
		align-items: start;
	}
}
