.bulk {
	background-color: #f3f3f3;
	border: 2px solid #333;
	position: relative;
	box-sizing: border-box;
}

.cut {
	background-color: rgba(0, 120, 255, 0.15);
	border: 1px dashed #007bff;
	box-sizing: border-box;
}
