.a4Sheet {
	width: 800px;
	/* min-height: 980px; */
	/* border: 1px solid black; */
	background-color: white;
	margin: 2% auto; /* Centramos la hoja */
	color: black;
	overflow: auto;
}

.documentContent {
	width: 100%;
	height: 100%;
	padding: 40px;
	box-sizing: border-box;
	overflow: auto;
}

.logo {
	width: 120px;
}

.mopHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.headerBlock {
	width: 280px;
}

.infoHeader {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.blockContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	padding: 5px;
	/* background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid #aaa;
	border-radius: 5px; */
}

.block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px 5px;
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.workTitle {
	margin-bottom: 25px;
}

.workDescription {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.infoText {
	font-size: 12px;
	margin: 0 0 10px;
}

.contentText {
	font-size: 14px;
}

.priceText {
	align-self: flex-end;
}

.label {
	font-size: 14px;
}

.atte {
	font-size: 14px;
}

.notesTitle {
	font-size: 14px;
}

.smallLetter {
	font-size: 12px;
	min-height: 15px;
	width: 500px;
	color: black;
	border: none;
	resize: none;
	font-family: 'Klavika';
	padding: 5px 0 0;
	white-space: pre-wrap;
}
