.formPage {
    width: 100%;
    overflow: auto;
  }
  
  .a4Sheet {
    width: 794px;
    min-height: 1123px;
    border: 1px solid black;
    background-color: white;
    margin: 2% auto; /* Centramos la hoja */
    
  }
  
  .documentContent {
    width: 100%;
    height: 100%;
    padding: 20px 20px 76px;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .mopHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .headerBlock {
    width: 280px;
  }
  
  .infoHeader {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  /* 
  .block {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.05);
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
  }
  
  .blockTitle {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    width: 100%;
  }
  
  .inputNumberContainer {
    display: flex;
    font-size: 12px;
    width: 100%;
    gap: 10px;
  }
  
  .textArea, .inputNumber {
    width: 100%;
    resize: vertical;
    min-height: 33px;
    max-height: 150px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .inputNumber {
    font-weight: bold;
    width: 50px;
    height: 14px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .selectContainer,.selectClientContainer,.selectMaterialContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 90px;
  }
  
  .selectClientContainer, .selectMaterialContainer {
    width: 300px;
  }
   */
  
  @media print {
    .a4Sheet {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
    