.container {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 0.7rem;
	overflow: visible;
	/* height: 60px; */
}

.vertical {
	flex-direction: column;
	justify-content: flex-end;
	width: fit-content;
	gap: 0;
}

.label {
	display: flex;

	align-items: center;
	/* margin-bottom: 5px; */
	font-size: 18px;
	/* height: 30px; */
	text-align: center;
	font-size: 12px;
}

.ul {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 200px;
	overflow-y: auto;
	background-color: white;
	border: 1px solid #ccc;
	list-style: none;
	padding: 5px;
	margin: 0;
	z-index: 1;
}

.li {
	padding: 8px;
	cursor: pointer;
	background-color: transparent;
	&:hover {
		background-color: #ddd;
	}
}

.highlightLi {
	background-color: #ddd;
}

.input,
.textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}

.input {
	height: 25px;
	font-size: 12px;
}

.input:focus {
	border-color: #007bff;
}

.required {
	color: red;
	margin-left: 0.2rem;
}

.disabled {
	background-color: #ddd;
}

.bold {
	font-weight: bold;
	color: black;
}

.numberSize {
	width: 50px;
}

.mediumSize {
	width: 90px;
}

.priceSize {
	width: 120px;
}

.mailSize {
	width: 250px;
}

.bigSize {
	width: 480px;
}

/* .small {
	width: 20%;
	font-size: 12px;
}

.adjusted {
	width: 15%;
	font-size: 12px;
}

.normal {
	width: 30%;
	font-size: 12px;
}

.big {
	width: 49%;
	font-size: 12px;
} */
