.container {
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 0.7rem;
    overflow: visible;
}

.vertical {
    flex-direction: column;
    width: fit-content;
    gap: 0;
}

.label {
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: bold;
    min-width: 90px;
    white-space: nowrap;
}

.ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-Y: auto;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 5px;
    margin: 0;
    z-index: 1;
}

.li {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
        background-color: #ddd;
    }
}

.highlightLi {
    background-color: #ddd;
}

.input, .textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s
}

.input {
    height: 25px;
    font-size: 11px;
}

.input:focus {
    border-color: #007bff;
}

.required {
    color: red;
    margin-left: 0.2rem;
}

.small {
    width: 20%;
    font-size: 12px;
}

.adjusted {
    width: 12%;
    font-size: 12px;
}

.normal {
    width: 30%;
    font-size: 12px;
}

.big {
    width: 60%;
    font-size: 12px;
}