.allOperations {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 95%;
}

.allOperationsTable {
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 70vh;
	overflow-x: auto;
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #101204;
	border-radius: 8px;
	color: #101204;
	box-shadow: 0 1px 5px 0 #101204;
}

/* .tables {
	height: 70vh;
} */

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #101204;
	border-radius: 8px;
	color: #101204;
	/* 	font-weight: bold; */
	box-shadow: 0 1px 5px 0 #101204;
	width: 600px;
}

.formContainer h2 {
	margin-bottom: 15px;
}

.formContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 550px;
}

.labelInput {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 550px;
	margin-bottom: 10px;
}

.input {
	width: 250px;
}

.priceInput {
	width: 120px;
}

.formContainer th {
	text-align: left;
	font-size: 14px;
	width: 140px;
}

.tdButton {
	width: 120px;
}

.tdDelete {
	width: 40px;
	height: 40px;
}

.editTh {
	background-color: black;
	color: white;
	white-space: nowrap;
	position: sticky;
	top: 0;
	z-index: 1
}

.editTd,
.editTh {
	border: 1px solid #101204;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	color: black;
}

.allOperationsTable::-webkit-scrollbar {
	width: 12px;
	border-radius: 20px;
}

.allOperationsTable::-webkit-scrollbar-track {
	border-radius: 20px;
}

.allOperationsTable::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 20px;
	border: 3px solid #ddd;
}

.allOperationsTable::-webkit-scrollbar:window-inactive {
	display: none;
}

@media (max-width: 1000px) {
	/* .formContainer {
		width: 80%;
	}
	.labelInput {
		width: 80%;
	} */
	.input {
		width: 200px;
	}

	.formContainer th {
		width: 100px;
	}
	.priceInput {
		width: 100px;
	}
	.tdButton {
		margin-top: 5px;
		width: 100px;
	}
}
