.taskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 88vh;
    padding-top: 20px;
    background-color: #1e81b3;
}

.loader {
    display: flex;
    align-items: center;
    height: 100%;
}

.paperGrid {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    min-height: 85vh;
    padding: 10px;
    overflow: auto;
}

.list {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 275px;
}

.label {
        margin-left: 10px;
        margin-bottom: 0.5rem;
        font-size: 18px;
        font-weight: bold;
    
}

.ordersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 88vh;
    color: #EDF0F1;
    padding-top: 20px;
}

.ordersListSearch {
    display: flex;
    width: 85vw;
}

@media (max-width: 1000px) {
    .ordersListSearch {
        flex-direction: column;
    }
}


/* 
::-webkit-scrollbar {

    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d61818;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: #d61818;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

html {
    border-radius: 5px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
} */

