.loginPage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 88vh;
}

.loginChart {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #edf0f1;
	width: 350px;
	border-radius: 15px;
	padding: 15px;
	gap: 30px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.label {
	margin-left: 10px;
	margin-bottom: 0.5rem;
	font-size: 18px;
}

@media (max-width: 1000px) {
	.ordersListSearch {
		flex-direction: column;
	}
}

@media print {
	.orderForm {
		visibility: hidden;
	}
}
