.taskManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85vh;
    background-color: #1e81b3;
}

.loader {
    display: flex;
    align-items: center;
    height: 100%;
}

.paperGrid {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    min-height: 85vh;
    padding: 10px;
    overflow: auto;
}

.list {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 275px;
}

.ordersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100vw;
    min-height: 85vh;
}

.ordersListTitle {
    align-self: center;
}

.ordersListSearch {
    align-self: flex-end;
}

.ordersListTable {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0;
    width: 90%;
    height: 75vh;
    margin: auto;
    border: 1px solid #101204;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 #101204;
    padding: 10px;
    overflow-x: auto;
}

.space {
    width: 100%;
    min-width: 1600px;
    margin-bottom: 10px;
}

.ordersListTable::-webkit-scrollbar {
    width: 12px;    
    border-radius: 20px;           /* width of the entire scrollbar */
  }
  
  .ordersListTable::-webkit-scrollbar-track {
    border-radius: 20px;
    /* background: orange;  */       /* color of the tracking area */
  }
  
  .ordersListTable::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #ddd;  /* creates padding around scroll thumb */
  }

  .ordersListTable::-webkit-scrollbar:window-inactive{
    display: none;
  }


/* 
::-webkit-scrollbar {

    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d61818;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: #d61818;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

html {
    border-radius: 5px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
} */

