.dropdown {
	position: relative;
	display: inline-block;
	/* width: 25px */
	height: 15px;
	/* z-index: 3; */
}

.dropdownBtn {
	color: black; /* Color del texto */
	border: none; /* Sin borde */
	/* padding: 5px; */ /* Espaciado del botón */
	cursor: pointer; /* Cursor de puntero */
	padding: 0;
	background-color: transparent;
}

.dropdownBtnDark {
	color: white;
}

.dropdownMenu {
	display: block; /* Muestra el menú desplegable */
	position: absolute; /* Mantén esto para que se superponga */
	background-color: white; /* Color de fondo para visibilidad */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
	z-index: 4; /* Asegúrate de que esté encima de otros elementos */
	margin: 0; /* Sin margen */
	padding: 5px; /* Sin padding */
	list-style: none; /* Sin estilo de lista */
	font-size: 14px;
	border-radius: 4px;
}

.dropdownMenu li {
	color: black;
	padding: 7px;
	cursor: pointer;
	white-space: nowrap; /* Previene el salto de línea */
	overflow: hidden; /* Oculta el desbordamiento */
	text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}

.dropdownMenu li:hover {
	background-color: #1976d2; /* Color al pasar el mouse */
	color: white;
}
