.dropdown {
    position: relative;
    display: inline-block;
    width: 50px;
}

.dropdownBtn {
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado del botón */
    cursor: pointer; /* Cursor de puntero */
    padding: 0;
    background-color: transparent;
}

.dropdownBtnDark {
    color: white;
}

.dropdownMenu {
    display: block; /* Muestra el menú desplegable */
    position: absolute; /* Mantén esto para que se superponga */
    background-color: white; /* Color de fondo para visibilidad */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    z-index: 4; /* Asegúrate de que esté encima de otros elementos */
    margin: 0; /* Sin margen */
    padding: 0; /* Sin padding */
    list-style: none; /* Sin estilo de lista */
    font-size: 14px;
}

.dropdownMenu li {
    color: black;
    padding: 10px 15px; /* Espaciado de las opciones */
    cursor: pointer; /* Cursor de puntero */
}

.dropdownMenu li:hover {
    background-color: #f1f1f1; /* Color al pasar el mouse */
}