.pagination {
	margin-bottom: 5px;
}

.paginationBtns {
	display: flex;
	justify-content: space-around;
	gap: 15px;
}

/* .paginationBtns button {
	border-radius: 5px;
	background-color: #1976d2;
	color: white;
	border: none;
	padding: 8px;
	transition: background-color 0.3s ease,
		transform 0.3s ease;

	&:not(:disabled):hover {
		cursor: pointer;
		background-color: #0f579e;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
	}

	&:disabled {
		background-color: #093057; 
		box-shadow: none;
		color: #999;
	}
} */

.currentPageBtn {
	transform: scale(1.3);
	transition: transform 0.3s ease;
}

@media (max-width: 1000px) {
	.pagination {
		width: 300px;
	}
}
