.pagination {
    margin-bottom: 5px;
}

.paginationBtns {
    display: flex;
    gap: 10px;
}

.paginationBtns button {
    border-radius: 5px;
    background-color: #444;
    color: white;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:not(:disabled):hover {
        cursor: pointer;
        background-color: #666; /* Cambia el color de fondo */ 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
    }

    &:disabled {
        background-color: #333; /* Puedes cambiar el fondo si está deshabilitado */
        box-shadow: none;
        color: #999;
    }
}

.currentPageBtn {
   transform: scale(1.3);
   transition: transform 0.3s ease;
}
