.sideBar {
	position: fixed;
	left: 0;
	height: 100vh;
	width: 20%;
	background-color: #2d2e32;
	color: #edf0f1;
	transition: left 2s;
	z-index: 1;
	
}

.sideBarHide {
	left: -20%;
}

.verticalNav {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 7vh;
	padding: 20px;
	
	/* background-color: #24252a; */
}

.navLinks {
	display: flex;
	gap: 30px;
	font-weight: 600;
	font-size: 30px;
	padding-top: 25px;
}

.active {
	font-weight: bold;
	color: #0088a9;
}

@media (max-width: 1000px) {
	.navLinks {
		font-size: 14px;
		font-weight: 400;
	}
	.verticalNav {
		padding: 15px;
	}
}