.table {
    width: 100%;
/*     display: flex;
    flex-direction: column; */
    table-layout: fixed;
    border-collapse: collapse;
    font-weight: 600;
}

.thead {
    position: relative;
}

.tr {
    position: relative;
    /* display: flex; */
    width: 100%;
}

.th {
    background-color: black;
    color: white;
    white-space: nowrap;
}

.thContent {
    position: relative;
    display: flex;
}

.th, .td {
    position: relative;
    border: 1px solid #101204;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding: 5px;
}

.td {
    overflow: hidden
}

.normal {
    min-width: 200px;
}

.small {
    width: 100px;
    text-align: center;
}

.big {
    flex: 5 ;
    flex-shrink: 0;
}

.tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.15);
}

.tr.warning {
    background-color: rgb(255, 200, 150);
}

.tr.warning:nth-child(odd) {
    background-color: rgb(255, 190, 140);
}

.tr.urgent {
    background-color: rgb(255, 69, 69);
}

.tr.urgent:nth-child(odd) {
    background-color: rgb(252, 83, 83);
}





