.a4Sheet {
	width: 794px;
	/* min-height: 980px; */
	/* border: 1px solid black; */
	background-color: white;
	margin: 40px; /* Centramos la hoja */
	color: black;
	padding-bottom: 10mm;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

.documentContent {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.mopHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.headerBlock {
	width: 280px;
}

.infoHeader {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}

.creatableSubstitute {
	border: 1px solid #ccc;
	height: 25px;
	border-radius: 4px;
	padding: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	background-color: white;
}

.block {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 2px;
	flex-wrap: wrap;
	margin-top: 10px;
	padding: 5px;
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid black;
	border-radius: 5px;
}

.blockContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
	padding: 5px;
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid black;
	border-radius: 5px;
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.deliveryContainer {
	width: 100%;
}

.sectionTitle {
	margin-bottom: 10px;
}

/* .leftBlock {
	flex: 1;
}

.rightBlock {
	flex: 2;
	
} */

.noBreak {
	page-break-inside: avoid;
	break-inside: avoid;
}

.blockPrintTask {
	background-color: rgba(67, 74, 211, 0.1);
	border: 1px solid black;
	border-radius: 5px;
	z-index: 0;
}

.contain {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 0 5px;
	padding-top: 8px;
	flex-wrap: wrap;
}

.blockTitle {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	font-size: 14px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 12px;
	width: 100%;
}

.inputNumberContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	width: 100%;
	gap: 10px;
}

.textArea {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 25px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	white-space: pre-wrap;
	word-break: break-word;
	font-weight: bold;
}

/* .datesContainer {
	display: flex;
	gap: 20px;
} */

.familyInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	min-height: 37px;
	width: 200px;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
}

.dateInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 37px;
	font-size: 14px;
	width: 150px;
}

.inputNumber {
	width: 50px;
	height: 14px;
	color: #6d6d6d;
}

.printTitle {
	font-size: 20px;
}

.closePrintTask {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.label,
.printTaskLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 11px;
}

.printTaskLabel {
	text-align: center;
}

.selectContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* height: 60px; */
	width: 90px;
}

.smallNumberSelectContainer {
	width: 50px;
}

.selectClientContainer {
	width: 400px;
	height: 55px;
}

.selectMaterialContainer {
	width: 260px;
}

.clientInput {
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	font-size: 12px;
	color: #6d6d6d;
}

.table {
	/* z-index: 5; */
	font-size: 14px;
	font-weight: 400;
}

.td,
.th,
.smallth {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	height: 100%;
	vertical-align: center;
}

.td {
	font-weight: bold;
}

.inputWorkshop {
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
	font-size: 14px;
	padding: 2px 5px;
	margin-bottom: 5px;
	min-height: 20px;
}

.input,
.th {
	width: 300px;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
}

.smallInput,
.smallth {
	width: 80px;
	height: 100%;
}

.smallInput {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}

.nameTd {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deleteRow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 138, 138);
	border: 1px, solid, black;
	border-radius: 5px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.printFirstRow,
.printRow,
.printLastRow {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	width: 100%;
}

/* .printFirstRow {
	margin-top: 20px;
} */

.printLastRow {
	display: flex;
	justify-content: flex-end;
}

.rightRow {
	/* 	display: flex;
	flex-wrap: wrap; */
	/* 	justify-content: space-between; */
	width: 300px;
	column-gap: 20px;
}

.rightRowContainer {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	/* margin-left: auto; */
}

.lastItem {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-left: auto;
	margin-top: auto;
}

.printTaskInput {
	width: 100%;
	height: 25px;
	font-size: 11px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}

.tintasDiv {
	margin-top: 10px;
	width: 400px;
}

.tintasInput {
	width: 480px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: border-color 0.3s;
	color: #6d6d6d;
}
